.container {
    display: grid;
    justify-content: center;
    margin-top: auto;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
  }
  
  .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    border: 1px solid #333;
    font-size: 24px;
    cursor: pointer;
  }
  .game-container{
    margin:60px 0;
    display:flex;
    justify-content: center;
    align-items: center;

  }
  #shuffle-btn{
    position: absolute;
    bottom: 25px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #4CAF50;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  #shuffle-btn:hover {
        background-color: #45a049;
        border-color: #45a049;
      }
      
      #shuffle-btn:active {
        background-color: #3e8e41;
        border-color: #3e8e41;
      }
      
  